 @media (min-width: 999px) {
  /* .layout-3col__left-sidebar, .layout-3col__first-left-sidebar, .layout-3col__second-left-sidebar {
      clear: left;
      float: left;
      width: 35%;
      margin-left: 65%;
      margin-right: -100%;
    }
 .layout-3col__right-content {
     float: right;
     width: 65%;
     margin-right: 35%;
     margin-left: -100%;
    }/*

}
